# Kickstart for Linux KVM Guest
# Hostname    : almalinux
# Version     : RHEL10
# Network     : enp1s0
# Storage     : vda
# VGName      : almalinux
# MAC         : AUTO
# IP          : DHCP
# GATEWAY     : DHCP
# SUBNET MASK : DHCP
# NAMESERVER  : DHCP

# Use text install
text

# Kdump
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

# Keyboard layouts
keyboard --xlayouts='us'

# System language
lang en_US.UTF-8

# Install source
repo --name="AppStream" --baseurl=https://repo.almalinux.org/almalinux/10/BaseOS/x86_64/os
url --url="https://repo.almalinux.org/almalinux/10/BaseOS/x86_64/os/"

# Package selection
%packages
@^minimal-environment
firewalld
sudo
bzip2
dnf-automatic
kexec-tools
yum-utils
open-vm-tools
%end

# Skip the Setup Agent on first boot
firstboot --disable

# Disk configuration
ignoredisk --only-use=vda
zerombr
# Partition clearing information
clearpart --all --initlabel --drives=vda
# Disk partitioning information; total is 23040 MiB
part /boot --fstype="xfs" --ondisk=vda --size=953 --asprimary
part /boot/efi --fstype="efi" --ondisk=vda --size=477 --fsoptions="umask=0077,shortname=winnt"
part pv.01 --fstype="lvmpv" --ondisk=vda --size=1 --grow
volgroup almalinux --pesize 4096 pv.01
logvol /srv --fstype="xfs" --size=1024 --name=srv --vgname=almalinux
logvol /var/log/audit --fstype="xfs" --size=1024 --name=var_log_audit --vgname=almalinux
logvol swap --fstype="swap" --size=4096 --name=swap --vgname=almalinux
logvol /tmp --fstype="xfs" --size=2048 --name=tmp --vgname=almalinux
logvol /home --fstype="xfs" --size=2048 --name=home --vgname=almalinux
logvol /var/log --fstype="xfs" --size=1024 --name=var_log --vgname=almalinux
logvol /var --fstype="xfs" --size=4096 --name=var --vgname=almalinux
logvol / --fstype="xfs" --size=4096 --name=root --vgname=almalinux
logvol /var/tmp --fstype="xfs" --size=1024 --name=var_tmp --vgname=almalinux

# System timezone
timezone Etc/GMT
timesource --ntp-pool pool.ntp.org

# Root password
rootpw --lock

# Users
user --groups=wheel --name=user --password=password --gecos="Standard User"

# License agreement
eula --agreed

# Network information
network --bootproto=dhcp
network --hostname=almalinux

# System services
services --enabled="chronyd"
services --enabled="sshd"

# SELinux
selinux --enforcing

# Firewall
firewall --enabled --ssh

# Post-installation behavior
reboot

###############################################################################
# post chroot
%post --interpreter=/usr/bin/bash --erroronfail --log=/root/ks-post-chroot.log

# Install EPEL repository and packages
dnf config-manager --set-enabled crb
dnf -y install epel-release
dnf repolist
dnf -y install joe screen

# Joe "nobackups"
sed -i s/" -nobackups"/"-nobackups"/g /etc/joe/joerc

# Configure firewall
firewall-offline-cmd --permanent --remove-service dhcpv6-client
firewall-offline-cmd --permanent --remove-service cockpit

# Configure DNF Automatic
sed -i 's/apply_updates = no/apply_updates = yes/' /etc/dnf/automatic.conf

# Enable DNF Automatic
systemctl enable dnf-automatic.timer

%end
